# Byte-code files
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Editor files
.idea/
*.swp

# Testing and coverage
.pytest_cache/
htmlcov/

# Specific OS files
.DS_Store
Thumbs.db